table {
  width: 100%;
}
.mat-column-id {
  width: 32px;
}
.mat-column-createdAt {
  width: max-content;
}
.mat-header-cell {
  font-weight: bolder;
}
.hide {
  display: none;
}
a {
  text-decoration: none;
}
