.home {
  height: 100%;
  background-color: whitesmoke !important;
}
.product-tag {
  height: 380px;
  max-height: 380px;
}

.tag:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.35);
}
a {
  text-decoration: none;
  color: black;
}
