<div class="d-flex mt-3 mx-2">
  <mat-button
    class="btn border-0 circle"
    matRipple
    [matRippleCentered]="true"
    routerLink="/employee"
  >
    <mat-icon title="back" class="fs-2 mt-1 fw-bold">
      keyboard_backspace
    </mat-icon>
  </mat-button>
  <p class="text-primary fs-3 px-3 mt-3">
    {{ 'user.user-info' | translate }}
  </p>
</div>
<div class="container px-4 mt-2">
  <div class="w-100 bg-white mt-3 shadow p-5">
    <div class="row align-items-center">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <img
          class="bg-light m-auto"
          style="width: 90%;"
          [src]="
            userInfo?.avatar ? 'http://localhost:5000' + userInfo?.avatar : ''
          "
          alt="..."
        />
      </div>
      <div class="col-lg-8 px-xl-10">
        <div
          class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded"
          style="width: 80%;"
        >
          <h3 class="h2 fs-3 text-white mb-3 text-capitalize">
            {{ userInfo?.name }}
          </h3>
          <span class="text">{{ userInfo?.rolename }}</span>
        </div>
        <ul class="list-unstyled mb-1-9">
          <li class="mb-2 mb-xl-3 display-28">
            <span class="display-26 text-secondary me-2 font-weight-600">
              {{ 'user.gender' | translate }}
            </span>
            <div *ngIf="!userInfo?.gender">
              {{ 'user.male' | translate }}
            </div>
            {{ 'user.female' | translate }}
          </li>
          <li class="mb-2 mb-xl-3 display-28">
            <span class="display-26 text-secondary me-2 font-weight-600">
              {{ 'user.birthdate' | translate }}
            </span>
            {{ userInfo?.birthdate | date: 'dd/MM/yyyy' }}
          </li>
          <li class="mb-2 mb-xl-3 display-28">
            <span class="display-26 text-secondary me-2 font-weight-600">
              {{ 'user.email' | translate }}
            </span>
            {{ userInfo?.email }}
          </li>
          <li class="mb-2 mb-xl-3 display-28">
            <span class="display-26 text-secondary me-2 font-weight-600">
              {{ 'user.phone-number' | translate }}
            </span>
            {{ userInfo?.phone }}
          </li>

          <li class="display-28">
            <span class="display-26 text-secondary me-2 font-weight-600">
              {{ 'user.address' | translate }}
            </span>
            địa chỉ
          </li>
        </ul>
      </div>
    </div>
    <div class="d-block w-100 mb-4">
      <button class="btn btn-primary px-5 py-1 float-end" mat-button>
        <a class="text-white" [routerLink]="['/employee/edit', userId]">
          {{ 'user.edit-user-info' | translate }}
        </a>
      </button>
    </div>
  </div>
</div>
