<div class="container mt-4 d-flex">
  <mat-button
    class="btn border-0 circle"
    matRipple
    [matRippleCentered]="true"
    (click)="goBack()"
  >
    <mat-icon title="back" class="fs-2 mt-1 fw-bold">
      keyboard_backspace
    </mat-icon>
  </mat-button>
  <p class="text-primary fw-bold fs-3 px-3 mt-3">
    {{ 'user.supplier-info' | translate }}
  </p>
</div>

<div class="container bg-white shadow py-4 mt-3">
  <div class="row p-3">
    <div class="col-md-2 col-0"></div>
    <div class="col-md-8 col-12">
      <ul class="list-unstyled mb-1-9">
        <li
          class="mb-2 px-3 d-flex bg-secondary display-28 pt-4 pb-2 text-white px-1 rounded fs-4"
        >
          <p class="display-26s text-warning me-2 font-weight-600">
            {{ 'user.supplier' | translate }}
          </p>
          <p class="px-3">{{ supplierInfo?.name }}</p>
        </li>
        <li class="mb-2 mb-xl-3 display-28">
          <span class="display-26 text-secondary me-2 font-weight-600">
            {{ 'user.phone-number' | translate }}
          </span>
          {{ supplierInfo?.phone }}
        </li>
        <li class="mb-2 mb-xl-3 display-28">
          <span class="display-26 text-secondary me-2 font-weight-600">
            {{ 'user.email' | translate }}
          </span>
          {{ supplierInfo?.email }}
        </li>
        <li class="mb-2 mb-xl-3 display-28">
          <span class="display-26 text-secondary me-2 font-weight-600">
            {{ 'user.description' | translate }}
          </span>
          {{ supplierInfo?.description }}
        </li>

        <li class="mb-2 mb-xl-3 display-28">
          <span class="display-26 text-secondary me-2 font-weight-600">
            {{ 'user.address' | translate }}
          </span>

          {{ supplierInfo?.address }}- {{ supplierInfo?.ward?.name }}-
          {{ supplierInfo?.district?.name }} -{{ supplierInfo?.province?.name }}
        </li>
      </ul>
    </div>
    <div class="col-md-2 col-0"></div>
    <div class="col-sm-7 col-0"></div>
    <button
      [routerLink]="['/supplier/edit', supId]"
      class="col-sm-3 py-3 btn btn-primary"
    >
      {{ 'user.edit-user' | translate }}
    </button>
    <div class="col-sm-2 col-0"></div>
  </div>
</div>
