<div class="nav navbar mt-4 mb-5 mx-3 d-block">
  <div class="d-flex align-items-center float-start">
    <mat-button-toggle
      style="background-color: #fafafa !important;"
      (click)="goBack()"
    >
      <mat-icon title="back" class="fw-bold">
        keyboard_backspace
      </mat-icon>
    </mat-button-toggle>
    <p class="fs-3 fw-bold text-primary mt-2 mx-2">
      {{ 'warehouse.receipt-edit' | translate }}
    </p>
  </div>
</div>

<div class="container-fluid p-3">
  <div class="row pb-4 mx-auto">
    <div class="row"></div>
    <div class="row">
      <div class="col-sm-6">
        <div class="row justify-content-between">
          <!-- supplierId -->
          <form class="form-card" id="form1" #form1="ngForm">
            <div class="d-flex row mb-4">
              <label class="col-3 m-auto col-form-label text-end">
                {{ 'supplier.supplier' | translate }}
              </label>
              <div class="col-9 d-flex align-items-center">
                <div style="flex: 1; margin-right: 1rem;">
                  <select
                    [ngModel]="Receipt?.supplierId"
                    name="supplierId"
                    #supplierId="ngModel"
                    class="form-select input-customize form-group"
                  >
                    <option hidden value="" selected>
                      {{ 'placeholder.choose-supplier' | translate }}
                    </option>
                    <option *ngFor="let item of supplierList" [value]="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                </div>
                <div>
                  <button
                    (click)="updateSupplier()"
                    matRipple
                    [matRippleCentered]="true"
                    class="input-customize form-group btn btn-danger"
                  >
                    {{ 'supplier.change-supplier' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </form>

          <hr />
          <form
            class="form-card"
            id="formReceiptDetail"
            #formReceiptDetail="ngForm"
          >
            <!-- product -->
            <div class="form-group row mb-4">
              <label class="col-3 m-auto col-form-label text-end">
                {{ 'product.product' | translate }}
              </label>
              <div class="col-9">
                <select
                  ngModel
                  #productId="ngModel"
                  required
                  name="productOptionId"
                  class="form-select input-customize"
                >
                  <option hidden value="" selected>
                    {{ 'placeholder.choose-product' | translate }}
                  </option>
                  <option *ngFor="let item of productList" [value]="item.id">
                    <span>
                      {{ item?.name }} {{ item?.ram_option?.name }} ({{
                        item?.color_option?.name
                      }})
                    </span>
                  </option>
                </select>

                <small
                  class="form-text text-muted"
                  *ngIf="
                    (productId?.value == '' &&
                      (productId?.dirty || productId?.touched)) ||
                    (!productId?.valid &&
                      (productId?.dirty || productId?.touched))
                  "
                >
                  {{ 'notification.invalid-product' | translate }}
                </small>
              </div>
            </div>
            <!-- price -->
            <div class="form-group row mb-4">
              <label class="col-3 m-auto col-form-label text-end">
                {{ 'product.price' | translate }}
              </label>
              <div class="col-9">
                <div class="input-group">
                  <input
                    class="fs-5 py-0 fw-bold form-control input-customize"
                    ngModel
                    name="price"
                    min="0"
                    type="number"
                    placeholder="{{ 'placeholder.input-price' | translate }}"
                    required
                  />
                  <span class="input-group-text input-customize">
                    VNĐ
                  </span>
                </div>
              </div>
            </div>

            <!-- quantity -->
            <div class="form-group row mb-3">
              <label class="col-3 m-auto col-form-label text-end">
                {{ 'product.quantity' | translate }}
              </label>
              <div class="col-9">
                <input
                  ngModel
                  #quantity="ngModel"
                  name="quantity"
                  class="form-control input-customize"
                  placeholder="{{ 'placeholder.input-quantity' | translate }}"
                  type="text"
                  required
                />
                <small
                  class="form-text text-muted"
                  *ngIf="
                    !quantity?.valid && (quantity?.dirty || quantity?.touched)
                  "
                >
                  {{ 'notification.invalid-quantity' | translate }}
                </small>
              </div>
            </div>
            <!-- total price -->
            <div class="form-group fs-3 row mb-4">
              <label class="col-3 fw-bold m-auto col-form-label text-end">
                {{ 'total-amount' | translate }}
              </label>
              <div class="col-9 d-flex" style="align-items: center;">
                <span>{{ totalprice || Receipt?.total_price }} (VNĐ)</span>
              </div>
            </div>
          </form>
        </div>

        <!-- button -->
        <div class="form-group row mb-4">
          <div class="col-12">
            <button
              matRipple
              [matRippleCentered]="true"
              [disabled]="!receiptId"
              (click)="createReDetail()"
              class="btn btn-secondary w-100"
            >
              {{ 'product.product-create' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-5">
        <section class="example-container border bg-white" tabindex="0">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>{{ 'id' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="product">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'product.product' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element?.product_option?.name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'product.quantity' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'product.price' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">{{ element.price }}</td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'delete' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                <mat-button-toggle
                  (click)="
                    deleteProduct(element.id, element.price, element.quantity)
                  "
                  title="{{ 'delete' | translate }}"
                  mat-icon-button
                >
                  <mat-icon>delete</mat-icon>
                </mat-button-toggle>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </section>
      </div>
    </div>

    <div class="form-group row mb-4">
      <div class="col-sm-9"></div>
      <div class="col-sm-3">
        <button
          matRipple
          [matRippleCentered]="true"
          [hidden]="!dataSource"
          (click)="submit()"
          class="btn btn-primary py-2 w-100"
        >
          {{ 'save' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
