<form
  id="createUserForm"
  enctype="multipart/form-data"
  (ngSubmit)="onSubmit()"
  #createUserForm="ngForm"
>
  <div class="container bootstrap snippets bootdey mt-3">
    <div class="d-flex">
      <mat-button
        class="btn border-0 circle"
        matRipple
        [matRippleCentered]="true"
        (click)="goBack()"
      >
        <mat-icon title="back" class="fs-2 mt-1 fw-bold">
          keyboard_backspace
        </mat-icon>
      </mat-button>
      <p class="text-primary fw-bold fs-3 px-3 mt-3">
        {{ 'user.create-user' | translate }}
      </p>
    </div>
    <hr />
    <div class="row">
      <!-- left column -->

      <div class="col-md-3">
        <div class="text-center">
          <img
            [src]="
              imageSrc || 'https://bootdey.com/img/Content/avatar/avatar7.png'
            "
            class="avatar img-circle img-thumbnail"
            alt="avatar"
          />

          <input
            ngModel
            name="avatar"
            id="avatar"
            type="file"
            class="form-control input-customize mt-3"
            (change)="filechange($event)"
          />
        </div>
      </div>

      <!-- edit form column -->
      <div class="col-md-8 personal-info">
        <h3 class="fs-3 fw-bold">{{ 'user.user-info' | translate }}</h3>
        <div>
          <!-- role -->
          <div class="form-group row mb-4">
            <label class="col-3 m-auto col-form-label text-end">
              {{ 'user.role' | translate }}
            </label>
            <div class="col-9">
              <select
                #role="ngModel"
                required
                ngModel
                name="userRoleId"
                class="form-select form-control input-customize"
              >
                <option hidden value="">
                  {{ 'placeholder.choose-role' | translate }}
                </option>
                <option *ngFor="let item of roleList" [value]="item.id">
                  {{ item.name }}
                </option>
              </select>

              <small
                id="roleHid"
                class="form-text text-muted"
                *ngIf="!role?.valid && (role?.dirty || role?.touched)"
              >
                {{ 'notification.invalid-role' | translate }}
              </small>
            </div>
          </div>
          <!-- username -->
          <div class="form-group row mb-4">
            <label class="col-3 m-auto col-form-label text-end">
              {{ 'user.username' | translate }}
            </label>
            <div class="col-9">
              <input
                class="text-capitalize"
                placeholder="{{ 'placeholder.input-fullname' | translate }}"
                ngModel
                #username="ngModel"
                name="name"
                class="form-control input-customize"
                type="text"
                required
              />
              <small
                id="usernameHid"
                class="form-text text-muted"
                *ngIf="
                  !username?.valid && (username?.dirty || username?.touched)
                "
              >
                {{ 'notification.invalid-username' | translate }}
              </small>
            </div>
          </div>
          <!-- email -->
          <div class="form-group row mb-4">
            <label class="col-3 m-auto col-form-label text-end">
              {{ 'user.email' | translate }}
            </label>
            <div class="col-9">
              <input
                ngModel
                #email="ngModel"
                name="email"
                placeholder="{{ 'placeholder.input-email' | translate }}"
                class="form-control input-customize"
                type="email"
                placeholder="example@gamilcom"
                required
              />
              <small
                id="emailHid"
                class="form-text text-muted"
                *ngIf="!email?.valid && (email?.dirty || email?.touched)"
              >
                {{ 'notification.invalid-email' | translate }}
              </small>
            </div>
          </div>

          <!-- birthdate -->
          <div class="form-group row mb-4">
            <label class="col-3 m-auto col-form-label text-end">
              {{ 'user.birthdate' | translate }}
            </label>
            <div class="col-9">
              <div class="row p-0">
                <div class="col-6">
                  <input
                    ngModel
                    #birthdate="ngModel"
                    name="birthdate"
                    class="form-control input-customize"
                    placeholder="{{
                      'placeholder.input-birthdate' | translate
                    }}"
                    aria-describedby="birthdate"
                    type="date"
                    required
                  />
                  <small
                    id="birthdateHid"
                    class="form-text text-muted"
                    *ngIf="
                      !birthdate?.valid &&
                      (birthdate?.dirty || birthdate?.touched)
                    "
                  >
                    {{ 'notification.invalid-birthdate' | translate }}
                  </small>
                </div>
                <div class="col-6">
                  <!-- gender -->
                  <div class="form-group mt-2 row">
                    <label class="col-3 m-auto col-form-label text-end">
                      {{ 'user.gender' | translate }}
                    </label>
                    <div class="col-9 d-flex align-items-center">
                      <div class="form-check">
                        <input
                          ngModel
                          class="form-check-input"
                          type="radio"
                          name="gender"
                          id="male"
                          [value]="true"
                        />
                        <label class="form-check-label" for="male">
                          {{ 'user.male' | translate }}
                        </label>
                      </div>
                      <div class="form-check mx-3">
                        <input
                          ngModel
                          class="form-check-input"
                          type="radio"
                          name="gender"
                          id="female"
                          [value]="false"
                        />
                        <label class="form-check-label" for="female">
                          {{ 'user.female' | translate }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- phone -->
          <div class="form-group row mb-4">
            <label class="col-3 m-auto col-form-label text-end">
              {{ 'user.phone-number' | translate }}
            </label>
            <div class="col-9">
              <input
                ngModel
                #phone="ngModel"
                name="phone"
                class="form-control input-customize"
                aria-describedby="phone"
                placeholder="{{ 'placeholder.input-phone' | translate }}"
                type="text"
                required
              />
              <small
                id="phoneHid"
                class="form-text text-muted"
                *ngIf="!phone?.valid && (phone?.dirty || phone?.touched)"
              >
                {{ 'notification.invalid-phone' | translate }}
              </small>
            </div>
          </div>

          <!-- password -->
          <div class="form-group row mb-4">
            <label for="password" class="col-3 m-auto col-form-label text-end">
              {{ 'user.password' | translate }}
            </label>

            <div class="col-9">
              <div class="d-flex position-relative">
                <input
                  class="form-control input-customize"
                  ngModel
                  #password="ngModel"
                  name="password"
                  type="password"
                  placeholder="{{ 'placeholder.input-password' | translate }}"
                  aria-describedby="password"
                  required
                  style="padding-right: 30px;"
                />
                <div class="d-flex position-absolute icon" style="right: 0;">
                  <i class="bi bi-eye m-auto"></i>
                </div>
              </div>
              <small
                id="passwordHid"
                class="form-text text-muted"
                *ngIf="
                  !password?.valid && (password?.dirty || password.touched)
                "
              >
                {{ 'notification.invalid-password' | translate }}
              </small>
            </div>
          </div>
          <!-- password confirm -->
          <div class="form-group row mb-4">
            <label
              for="passwordconfirm"
              class="col-3 m-auto col-form-label text-end"
            >
              {{ 'user.password-confirm' | translate }}
            </label>
            <div class="col-9">
              <div class="d-flex position-relative">
                <input
                  class="form-control input-customize"
                  ngModel
                  #passwordconfirm="ngModel"
                  placeholder="{{
                    'placeholder.input-password-confirm' | translate
                  }}"
                  name="passwordconfirm"
                  required
                  aria-describedby="passwordconfirm"
                  type="password"
                  style="padding-right: 30px;"
                />
                <div class="d-flex position-absolute icon" style="right: 0;">
                  <i class="bi bi-eye m-auto"></i>
                </div>
              </div>
              <small
                id="passwordconfirmHid"
                class="form-text text-muted"
                *ngIf="
                  !passwordconfirm?.valid &&
                  (passwordconfirm?.dirty || passwordconfirm.touched)
                "
              >
                {{ 'notification.invalid-confirm' | translate }}
              </small>
              <small *ngIf="!confirmPass" class="from-text text-muted">
                {{ 'notification.validate-password' | translate }}
              </small>
            </div>
          </div>
        </div>

        <div class="d-float">
          <button
            title="{{ 'clear' | translate }}"
            (click)="createUserForm.reset()"
            class="btn btn-secondary float-end py-2"
          >
            {{ 'cancel' | translate }}
          </button>
          <button
            (click)="confirmDialog()"
            title="{{ 'cancel' | translate }}"
            class="btn btn-primary float-end mx-3 px-5 py-2"
          >
            {{ 'save' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
