<div class="nav navbar d-block position-relative">
  <p class="fs-4 text-black text-center text-capitalize">
    {{ 'product.edit-color' | translate }}
  </p>
  <mat-button-toggle
    mat-dialog-close
    class="position-absolute"
    style="right: 0; top: 0;"
  >
    <mat-icon>
      close
    </mat-icon>
  </mat-button-toggle>
</div>

<div class="container-fluid p-0">
  <form id="ColorForm" #ColorForm="ngForm">
    <div class="row justify-content-between">
      <div class="form-group w-100 col-12 flex-column d-flex">
        <label class="form-control-label pb-2">
          {{ 'product.color' | translate }}
          <span class="text-danger">*</span>
        </label>

        <input
          [ngModel]="colorInfo?.name"
          #color="ngModel"
          name="name"
          placeholder="{{ 'placeholder.input-color' | translate }}"
          type="text"
          required
          class="form-control input-customize"
        />
        <small
          id="nameHid"
          class="form-text text-muted"
          *ngIf="!color?.valid && (color?.dirty || color?.touched)"
        >
          {{ 'notification.invalid-color' | translate }}
        </small>
      </div>
    </div>
  </form>
  <div class="text-end mt-3 w-100">
    <button
      matRipple
      [matRippleCentered]="true"
      title="{{ 'save' | translate }}"
      (click)="onSubmit()"
      class="btn btn-primary"
      color="primary"
    >
      {{ 'save' | translate }}
    </button>
  </div>
</div>
