<div class="nav navbar d-block position-relative">
  <p class="fs-4 text-black text-center text-capitalize">
    {{ 'placeholder.choose-supplier' | translate }}
  </p>
  <mat-button-toggle
    (click)="goBack()"
    class="position-absolute"
    style="right: 0; top: 0;"
  >
    <mat-icon>
      close
    </mat-icon>
  </mat-button-toggle>
</div>
<div class="container-fluid p-0">
  <form
    enctype="multipart/form-data"
    id="receiptFrom"
    onsubmit="onSubmit()"
    #receiptFrom="ngForm"
  >
    <div class="row justify-content-between">
      <div class="form-group w-100 col-12 flex-column d-flex">
        <label class="form-control-label pb-2">
          {{ 'user.supplier' | translate }}
          <span class="text-danger">*</span>
        </label>

        <select
          cdkFocusInitial
          ngModel
          #supplierId="ngModel"
          required
          name="supplierId"
          class="form-select input-customize form-group"
        >
          <option hidden value="" disabled selected>
            {{ 'placeholder.choose-supplier' | translate }}
          </option>
          <option *ngFor="let item of supplierList" [value]="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
  </form>
  <div class="text-end mt-3 w-100">
    <button
      title="{{ 'save' | translate }}"
      (click)="onSubmit()"
      class="btn btn-primary"
      color="primary"
    >
      {{ 'save' | translate }}
    </button>
  </div>
</div>
