.mat-column-title {
  max-width: 160px;
  word-break: break-all;
  padding-right: 1rem;
}
.mat-column-content {
  max-width: 200px;
  padding-right: 1rem;
}
.mat-header-cell {
  font-weight: bolder;
}
.mat-cell {
  padding-top: 3px;
  padding-bottom: 3px;
}
.hide {
  display: none;
}
