table {
  width: 100%;
}
.mat-column-id {
  width: 32px;
}
.mat-column-createdAt {
  padding-right: 2rem;
  width: max-content;
}
.mat-header-cell {
  font-weight: bolder;
}

.hide {
  display: none;
}
