<div class="nav navbar mt-3 mb-5 mx-3 d-block">
  <div class="d-flex float-start">
    <mat-button-toggle
      style="background-color: #fafafa !important;"
      (click)="goBack()"
    >
      <mat-icon title="back" class="fw-bold">
        keyboard_backspace
      </mat-icon>
    </mat-button-toggle>
    <p class="fs-3 px-3 mt-3 fw-bold text-primary">
      {{ 'product.product-list' | translate }}
    </p>
  </div>

  <button
    matRipple
    [matRippleCentered]="true"
    title="{{ 'product.product-create' | translate }}"
    routerLink="add"
    class="btn btn-primary float-end px-4 py-2"
  >
    {{ 'product.product-create' | translate }}
  </button>
</div>

<div class="container-fluid px-3">
  <div>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'id' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'regDate' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | date: 'short' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'brands' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="text-capitalize">{{ element.brand.name }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'product.product' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex align-items-center py-2">
            <img
              class="avatar img-fluid"
              [src]="
                'http://localhost:5000' +
                  (element?.product_images)['0']?.image ||
                'https://bootdey.com/img/Content/avatar/avatar7.png'
              "
              style="height: 110px;"
            />
            <div class="d-block px-3">
              <p class="fs-4 fw-bold m-auto mt-3 text-black-50">
                {{ element.name }}
              </p>
              <p>
                ({{ element?.rom_option?.name }} -
                {{ element?.color_option?.name }})
              </p>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'warehouse.warehouse' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="sold">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'product.sold' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.sold_quantity ? element?.sold_quantity : '0' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="published">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'publish' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="form-check form-switch">
            <input
              (click)="confirmUpdate(element.id, element.published)"
              class="form-check-input"
              style="width: 45px; height: 22px;"
              type="checkbox"
              id="flexSwitchCheckDefault"
              [checked]="element.published"
            />
          </div>
        </td>
      </ng-container>

      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-button-toggle
            [routerLink]="['/product/view', element.id]"
            title="{{ 'view' | translate }}"
            mat-icon-button
          >
            <mat-icon>launch</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            [routerLink]="['/product/edit', element.id]"
            title="{{ 'edit' | translate }}"
            mat-icon-button
          >
            <mat-icon>edit</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle
            (click)="confirmDialog(element.id)"
            title="{{ 'delete' | translate }}"
            mat-icon-button
          >
            <mat-icon class="text-danger">delete</mat-icon>
          </mat-button-toggle>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      #paginator
      [length]="PageInfo.total ? PageInfo.total : 100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
    ></mat-paginator>
  </div>
</div>
