table {
  width: 100%;
}
.mat-column-id {
  width: 32px;
}
.mat-column-createdAt {
  width: 150px;
}
.mat-column-address {
  max-width: 200px;
}
.mat-column-description {
  max-width: 200px;
}
.mat-column-name {
  max-width: 110px;
}
.mat-header-cell {
  font-weight: bolder;
}

.hide {
  display: none;
}
a {
  text-decoration: none;
}
.mat-cell {
  padding-top: 10px;
  padding-bottom: 10px;
}
