table {
  width: 100%;
}
.mat-column-delete {
  width: 50px;
}
.mat-column-edit {
  text-align: center;
  width: 100px;
}
.mat-header-cell {
  font-weight: bolder;
}

.hide {
  display: none;
}
.mat-column-id {
  width: 40px;
  padding-right: 24px;
  text-align: center;
}
