table {
  width: 100%;
}
.mat-column-id {
  width: 32px;
}
.mat-column-createdAt {
  width: max-content;
}
.mat-column-address {
  max-width: 200px;
}
.mat-column-name {
  max-width: 150px;
  background-color: bisque;
}
.mat-header-cell {
  font-weight: bolder;
}

.hide {
  display: none;
}
a {
  text-decoration: none;
}
