.mat-column-phone {
  max-width: 100px;
  padding-right: 1rem;
}
.mat-column-email {
  max-width: 200px;
  padding-right: 1rem;
}
.mat-column-address {
  max-width: 200px;
}
.mat-column-username {
  max-width: 150px;
  padding-right: 1rem;
}

.hide {
  display: none;
}

.mat-cell {
  padding-top: 5px;
  padding-bottom: 5px;
}
