table {
  width: 100%;
}
.mat-column-id {
  width: 32px;
}
.mat-column-createdAt {
  width: max-content;
  padding-right: 1rem;
}
.mat-column-phone {
  max-width: 100px;
  padding-right: 1rem;
  word-break: break-all;
}
.mat-column-email {
  max-width: 200px;
  word-break: break-all;
  padding-right: 1rem;
}
.mat-column-address {
  max-width: 200px;
}
.mat-column-username {
  max-width: 150px;
  padding-right: 1rem;
}
.mat-header-cell {
  font-weight: bolder;
}

.hide {
  display: none;
}
a {
  text-decoration: none;
}
