<div class="nav navbar d-block position-relative">
  <p class="fs-4 text-black text-center text-capitalize">
    {{ 'notification.notification-create' | translate }}
  </p>
  <mat-button-toggle
    mat-dialog-close
    class="position-absolute"
    style="right: 0; top: 0;"
  >
    <mat-icon>
      close
    </mat-icon>
  </mat-button-toggle>
</div>
<div class="container-fluid p-0">
  <form onsubmit="onSubmit()" id="addNotifiForm" #addNotifiForm="ngForm">
    <div class="row justify-content-between">
      <div class="form-group w-100 col-12 flex-column d-flex">
        <label class="form-control-label pb-2">
          {{ 'title' | translate }}
        </label>

        <input
          [ngModel]="Notification?.title"
          #title="ngModel"
          name="title"
          placeholder="{{ 'placeholder.input-noti-title' | translate }}"
          type="text"
          required
          class="form-control input-customize"
        />
        <small
          class="form-text text-muted"
          *ngIf="!title?.valid && (title?.dirty || title?.touched)"
        >
          {{ 'notification.invalid-noti-title' | translate }}
        </small>
      </div>
      <div class="form-group w-100 col-12 flex-column d-flex">
        <label class="form-control-label pb-2">
          {{ 'content' | translate }}
        </label>

        <textarea
          [ngModel]="Notification?.content"
          #content="ngModel"
          name="content"
          placeholder="{{ 'placeholder.input-noti-content' | translate }}"
          type="text"
          required
          rows="4"
          class="form-control input-customize"
        ></textarea>
        <small
          class="form-text text-muted"
          *ngIf="!content?.valid && (content?.dirty || content?.touched)"
        >
          {{ 'notification.invalid-noti-content' | translate }}
        </small>
      </div>
      <div class="d-flex align-items-center mt-4">
        <label class="form-check-label" for="flexSwitchCheckDefault">
          {{ 'brand.published' | translate }}
        </label>
        <input
          [ngModel]="Notification?.published"
          name="published"
          style="width: 45px; height: 22px;"
          type="checkbox"
          id="flexSwitchCheckDefault"
        />
      </div>
    </div>
  </form>
  <div class="text-end mt-3 w-100">
    <button
      matRipple
      [matRippleCentered]="true"
      (click)="onSubmit()"
      class="btn btn-primary w-50"
      cdkFocusInitial
    >
      {{ 'save' | translate }}
    </button>
  </div>
</div>
