<div class="nav navbar mt-4 mb-5 mx-3 d-block">
  <div class="d-flex float-start">
    <mat-button-toggle
      style="background-color: #fafafa !important;"
      (click)="goBack()"
    >
      <mat-icon title="back" class="fw-bold">
        keyboard_backspace
      </mat-icon>
    </mat-button-toggle>
    <p class="fs-3 px-3 mt-3 fw-bold text-primary">
      {{ 'order.order-list' | translate }}
    </p>
  </div>
</div>

<div class="container-fluid px-3">
  <div>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'id' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'regDate' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | date: 'short' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'user.customer' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="text-capitalize">{{ element.brand.name }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'user.phone-number' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ 'user.phone-number' | translate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'user.address' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
      </ng-container>

      <ng-container matColumnDef="total_price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'pay' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.sold_quantity ? element?.sold_quantity : '0' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'status' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.product_status.name }}
        </td>
      </ng-container>

      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-button-toggle
            [routerLink]="['/product/view', element.id]"
            title="{{ 'view' | translate }}"
            mat-icon-button
          >
            <mat-icon>launch</mat-icon>
          </mat-button-toggle>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      #paginator
      [length]="PageInfo.total ? PageInfo.total : 100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
    ></mat-paginator>
  </div>
</div>
