table {
  width: 100%;
}
.mat-column-id {
  width: 32px;
}
.mat-column-createdAt {
  width: max-content;
}
.mat-header-cell {
  font-weight: bolder;
}

.hide {
  display: none;
}
.mat-cell {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mat-button-toggle {
  padding: 0px !important;
  border: 0px !important;
  border-radius: 50% !important;
}
