<div class="myApp w-100">
  <!-- header -->
  <div class="header-bar d-block w-100 px-3">
    <div class="float-end py-1">
      <div class="d-flex">
        <div class="item text-white">
          <div class="px-4 align-items-center d-flex">
            <i class="bi bi-question-circle fs-3 px-1"></i>
            <label>
              {{ "button.help" | translate }}
            </label>
          </div>
        </div>

        <div class="item text-white">
          <div
            data-bs-toggle="dropdown"
            aria-expanded="false"
            class="dropdown px-2 align-items-center d-flex"
          >
            <i class="bi bi-globe2 fs-3 px-1"></i>
            <label>
              {{ "language.languages" | translate }}
            </label>
            <ul class="dropdown-menu dropdown-menu-end">
              <li *ngFor="let lang of languages" (click)="changeLanguage(lang)">
                <button class="dropdown-item">
                  {{ getLanguageDisplay(lang, true) }}
                </button>
              </li>
            </ul>
          </div>
        </div>

        <div class="item text-white">
          <div
            data-bs-toggle="dropdown"
            aria-expanded="false"
            class="dropdown px-4 align-items-center d-flex"
          >
            <div
              class="item align-items-center d-flex"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-person-fill fs-3"></i>
              <label>
                {{ "user.account" | translate }}
              </label>
            </div>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="#">
                  {{ "user.profile" | translate }}
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  {{ "order.order-tracking" | translate }}
                </a>
              </li>
              <li>
                <a class="dropdown-item" (click)="logout()">
                  {{ "auth.logout" | translate }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0 app-header" style="z-index: 10"></div>
  <!-- body -->
  <div class="contents">
    <router-outlet></router-outlet>
  </div>
</div>
