<div class="nav navbar d-block">
  <p class="fs-4 text-black text-center fw-bold">
    {{ 'brand.edit-brand' | translate }}
  </p>
</div>
<div class="container-fluid p-0">
  <form id="editBrandForm" #editBrandForm="ngForm">
    <div class="row justify-content-between">
      <div class="form-group w-100 col-12 flex-column d-flex">
        <label class="form-control-label pb-2">
          {{ 'brand.name' | translate }}
          <span class="text-danger">*</span>
        </label>

        <input
          [ngModel]="dataBrand?.name"
          #brand="ngModel"
          name="name"
          placeholder="{{ 'placeholder.input-brand' | translate }}"
          type="text"
          required
          class="form-control form-control-lg"
        />
        <small
          id="nameHid"
          class="form-text text-muted"
          *ngIf="!brand?.valid && (brand?.dirty || brand?.touched)"
        >
          {{ 'notification.invalid-brand' | translate }}
        </small>
      </div>
      <div class="d-flex align-items-center mt-4">
        <label class="form-check-label" for="flexSwitchCheckDefault">
          {{ 'brand.published' | translate }}
        </label>
        <div class="form-check form-switch mx-3">
          <input
            [ngModel]="dataBrand?.published"
            name="published"
            class="form-check-input"
            style="width: 45px; height: 22px;"
            type="checkbox"
            id="flexSwitchCheckDefault"
          />
        </div>
      </div>
    </div>
  </form>
  <div class="text-end mt-3 w-100">
    <button mat-button mat-dialog-close>
      {{ 'cancel' | translate }}
    </button>
    <button (click)="onSubmit()" mat-button color="primary" cdkFocusInitial>
      {{ 'ok' | translate }}
    </button>
  </div>
</div>
