<div class="nav navbar d-block position-relative">
  <p class="fs-4 text-black text-center text-capitalize">
    {{ 'product.edit-ram' | translate }}
  </p>
  <mat-icon
    mat-dialog-close
    class="position-absolute"
    style="right: 0; top: 0;"
  >
    close
  </mat-icon>
</div>
<div class="container-fluid p-0">
  <form id="ramForm" #ramForm="ngForm">
    <div class="row justify-content-between">
      <div class="form-group w-100 col-12 flex-column d-flex">
        <label class="form-control-label pb-2">
          {{ 'product.color' | translate }}
          <span class="text-danger">*</span>
        </label>

        <input
          [ngModel]="ramInfo?.name"
          #ram="ngModel"
          name="name"
          placeholder="{{ 'placeholder.input-ram' | translate }}"
          type="text"
          required
          class="form-control input-customize"
        />
        <small
          id="nameHid"
          class="form-text text-muted"
          *ngIf="!ram?.valid && (ram?.dirty || ram?.touched)"
        >
          {{ 'notification.invalid-ram' | translate }}
        </small>
      </div>
    </div>
  </form>
  <div class="text-end mt-3 w-100">
    <button mat-button mat-dialog-close>
      {{ 'cancel' | translate }}
    </button>
    <button (click)="onSubmit()" mat-button color="primary" cdkFocusInitial>
      {{ 'ok' | translate }}
    </button>
  </div>
</div>
