<div class="nav navbar mt-4 mb-5 mx-3 d-block">
  <p class="fs-3 fw-bold float-start text-primary">
    {{ 'warehouse.create-receipt-note' | translate }}
  </p>
</div>

<div class="container-fluid p-3">
  <div class="row pb-4 mx-auto">
    <div class="row"></div>
    <div class="row">
      <div class="col-sm-6">
        <form
          class="form-card"
          id="formReceiptDetail"
          #formReceiptDetail="ngForm"
        >
          <div class="row justify-content-between">
            <!-- supplierId -->
            <div class="form-group row mb-4">
              <label class="col-3 m-auto col-form-label text-end">
                {{ 'user.supplier' | translate }}
              </label>
              <div class="col-9">
                <select
                  disabled="true"
                  [ngModel]="data?.supplierId"
                  #supplierId="ngModel"
                  required
                  name="supplierId"
                  class="form-select input-customize form-group"
                >
                  <option hidden value="" disabled selected>
                    {{ 'placeholder.choose-supplier' | translate }}
                  </option>
                  <option *ngFor="let item of supplierList" [value]="item.id">
                    {{ item.name }}
                  </option>
                </select>

                <small
                  class="form-text text-muted"
                  *ngIf="
                    (supplierList?.value == '' &&
                      (supplierId?.dirty || supplierId?.touched)) ||
                    (!supplierId?.valid &&
                      (supplierId?.dirty || supplierId?.touched))
                  "
                >
                  {{ 'notification.invalid-supplier' | translate }}
                </small>
              </div>
            </div>
            <hr />
            <!-- product -->
            <div class="form-group row mb-4">
              <label class="col-3 m-auto col-form-label text-end">
                {{ 'product.product' | translate }}
              </label>
              <div class="col-9">
                <select
                  ngModel
                  #productId="ngModel"
                  required
                  name="productOptionId"
                  class="form-select input-customize"
                >
                  <option hidden value="" disabled selected>
                    {{ 'placeholder.choose-product' | translate }}
                  </option>
                  <option *ngFor="let item of productList" [value]="item.id">
                    <span>
                      {{ item?.name }} {{ item?.ram_option?.name }} ({{
                        item?.color_option?.name
                      }})
                    </span>
                  </option>
                </select>

                <small
                  class="form-text text-muted"
                  *ngIf="
                    (productId?.value == '' &&
                      (productId?.dirty || productId?.touched)) ||
                    (!productId?.valid &&
                      (productId?.dirty || productId?.touched))
                  "
                >
                  {{ 'notification.invalid-product' | translate }}
                </small>
              </div>
            </div>
            <!-- price -->
            <div class="form-group row mb-4">
              <label class="col-3 m-auto col-form-label text-end">
                {{ 'product.price' | translate }}
              </label>
              <div class="col-9">
                <div class="input-group">
                  <input
                    class="form-control input-customize"
                    ngModel
                    name="price"
                    min="0"
                    type="number"
                    placeholder="{{ 'placeholder.input-price' | translate }}"
                    required
                  />
                  <span class="input-group-text input-customize">
                    VNĐ
                  </span>
                </div>
              </div>
            </div>

            <!-- quantity -->
            <div class="form-group row mb-4">
              <label class="col-3 m-auto col-form-label text-end">
                {{ 'product.quantity' | translate }}
              </label>
              <div class="col-9">
                <input
                  ngModel
                  #quantity="ngModel"
                  name="quantity"
                  class="form-control input-customize"
                  placeholder="{{ 'placeholder.input-quantity' | translate }}"
                  type="text"
                  required
                />
                <small
                  class="form-text text-muted"
                  *ngIf="
                    !quantity?.valid && (quantity?.dirty || quantity?.touched)
                  "
                >
                  {{ 'notification.invalid-quantity' | translate }}
                </small>
              </div>
            </div>
            <!-- total price -->
            <div class="form-group fs-3 row mb-4">
              <label class="col-3 fw-bold m-auto col-form-label text-end">
                {{ 'total-amount' | translate }}
              </label>
              <div class="col-9 d-flex" style="align-items: center;">
                <span>50000000 (VNĐ)</span>
              </div>
            </div>
          </div>
        </form>
        <!-- button -->
        <div class="form-group row mb-4">
          <div class="col-6">
            <button
              (click)="createReDetail()"
              class="btn btn-secondary form-control"
            >
              {{ 'product.add-product' | translate }}
            </button>
          </div>

          <div class="col-6">
            <button class="btn btn-danger form-control">
              {{ 'delete' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-5">
        <section class="example-container border" tabindex="0">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>{{ 'id' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="product">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'product.product' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element?.product_option?.name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'product.quantity' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'product.price' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">{{ element.price }}</td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>
                {{ 'delete' | translate }}
              </th>
              <td mat-cell *matCellDef="let element">
                <mat-icon>delete</mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </section>
      </div>
    </div>

    <div class="form-group row mb-4">
      <div class="col-sm-8"></div>
      <div class="col-sm-4">
        <button class="btn btn-primary py-2 w-100">
          {{ 'save' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
