<mat-nav-list>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>dashboard</mat-icon>
    <div class="px-2">{{ 'home' | translate }}</div>
  </a>

  <mat-expansion-panel
    hideToggle
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <a mat-list-item>
        <mat-icon>people</mat-icon>
        <div class="px-2">{{ 'user.user-manage' | translate }}</div>
      </a>
    </mat-expansion-panel-header>

    <a mat-list-item routerLink="/employee" routerLinkActive="list-item-active">
      <div class="px-2">{{ 'user.employee' | translate }}</div>
    </a>
    <a mat-list-item routerLink="/customer" routerLinkActive="list-item-active">
      <div class="px-2">{{ 'user.customer' | translate }}</div>
    </a>
  </mat-expansion-panel>

  <mat-expansion-panel
    hideToggle
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <a mat-list-item routerLinkActive="list-item-active">
        <mat-icon>settings</mat-icon>
        <div class="px-2">
          {{ 'product.product-configuration' | translate }}
        </div>
      </a>
    </mat-expansion-panel-header>

    <a mat-list-item routerLink="/ram" routerLinkActive="list-item-active">
      <div class="px-2">{{ 'product.ram' | translate }}</div>
    </a>
    <a mat-list-item routerLink="/rom" routerLinkActive="list-item-active">
      <div class="px-2">{{ 'product.rom' | translate }}</div>
    </a>
    <a mat-list-item routerLink="/color" routerLinkActive="list-item-active">
      <div class="px-2">{{ 'product.color' | translate }}</div>
    </a>
  </mat-expansion-panel>

  <mat-expansion-panel
    hideToggle
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <a mat-list-item>
        <mat-icon>phone_iphone</mat-icon>
        <div class="px-2">{{ 'product.product' | translate }}</div>
      </a>
    </mat-expansion-panel-header>

    <a mat-list-item routerLink="/brands" routerLinkActive="list-item-active">
      <div class="px-2">{{ 'brands' | translate }}</div>
    </a>
    <a mat-list-item routerLink="/product" routerLinkActive="list-item-active">
      <div class="px-2">{{ 'product.product' | translate }}</div>
    </a>
  </mat-expansion-panel>

  <a mat-list-item routerLink="/warehouse" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon>
    <div class="px-2">{{ 'warehouse.warehouse' | translate }}</div>
  </a>

  <a mat-list-item routerLink="/supplier" routerLinkActive="list-item-active">
    <mat-icon>work_outline</mat-icon>
    <div class="px-2">{{ 'user.supplier' | translate }}</div>
  </a>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>shop_two</mat-icon>
    <div class="px-2">{{ 'order.order' | translate }}</div>
  </a>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>image</mat-icon>
    <div class="px-2">{{ 'banner' | translate }}</div>
  </a>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>card_giftcard</mat-icon>
    <div class="px-2">{{ 'order.discount-code' | translate }}</div>
  </a>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>notifications_none</mat-icon>
    <div class="px-2">{{ 'notification.message-to-customer' | translate }}</div>
  </a>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>store</mat-icon>
    <div class="px-2">{{ 'shop-info' | translate }}</div>
  </a>
</mat-nav-list>
