<div class="list-group">
  <a
    routerLink="/dashboard"
    routerLinkActive=" list-item-active"
    class="list-group-item list-group-item-action d-flex"
    aria-current="true"
  >
    <mat-icon>dashboard</mat-icon>
    {{ 'home' | translate }}
  </a>

  <div class="accordion m-0">
    <div
      class="d-flex accordion-button list-group-item collapsed"
      data-bs-toggle="collapse"
      data-bs-target="#userManage"
      aria-controls="userManage"
    >
      <mat-icon>people</mat-icon>
      {{ 'user.user-manage' | translate }}
    </div>

    <div id="userManage" class="accordion-collapse collapse">
      <a
        routerLink="/employee"
        routerLinkActive="list-item-active"
        class="list-group-item list-group-item-action px-5"
        style="background-color: black;"
      >
        {{ 'user.employee' | translate }}
      </a>
      <a
        routerLink="/customer"
        routerLinkActive="list-item-active"
        class="list-group-item list-group-item-action px-5"
        style="background-color: black;"
      >
        {{ 'user.customer' | translate }}
      </a>
    </div>
  </div>

  <div class="accordion m-0">
    <div
      class="d-flex accordion-button list-group-item collapsed"
      data-bs-toggle="collapse"
      data-bs-target="#configuration"
      aria-controls="configuration"
    >
      <mat-icon>settings</mat-icon>

      {{ 'product.product-configuration' | translate }}
    </div>

    <div id="configuration" class="accordion-collapse collapse">
      <a
        routerLink="/ram"
        routerLinkActive="list-item-active"
        class="list-group-item list-group-item-action px-5"
        style="background-color: black;"
      >
        {{ 'product.ram' | translate }}
      </a>
      <a
        routerLink="/rom"
        routerLinkActive="list-item-active"
        class="list-group-item list-group-item-action px-5"
        style="background-color: black;"
      >
        {{ 'product.rom' | translate }}
      </a>
      <a
        routerLink="/color"
        routerLinkActive="list-item-active"
        class="list-group-item list-group-item-action px-5"
        style="background-color: black;"
      >
        {{ 'product.color' | translate }}
      </a>
    </div>
  </div>

  <!-- prouct manage -->
  <div class="accordion m-0">
    <div
      class="d-flex accordion-button list-group-item collapsed"
      data-bs-toggle="collapse"
      data-bs-target="#product"
      aria-controls="product"
    >
      <mat-icon>phone_iphone</mat-icon>
      {{ 'product.product' | translate }}
    </div>

    <div id="product" class="accordion-collapse collapse">
      <a
        routerLink="/brands"
        routerLinkActive="list-item-active"
        class="list-group-item list-group-item-action px-5"
        style="background-color: black;"
      >
        {{ 'brand.brand' | translate }}
      </a>
      <a
        routerLink="/product"
        routerLinkActive="list-item-active"
        class="list-group-item list-group-item-action px-5"
        style="background-color: black;"
      >
        {{ 'product.product' | translate }}
      </a>
    </div>
  </div>

  <!-- warehouse manage -->
  <div class="accordion m-0">
    <div
      class="d-flex accordion-button list-group-item collapsed"
      data-bs-toggle="collapse"
      data-bs-target="#warehouse"
      aria-controls="warehouse"
    >
      <mat-icon>home</mat-icon>
      {{ 'warehouse.warehouse' | translate }}
    </div>

    <div id="warehouse" class="accordion-collapse collapse">
      <a
        routerLink="/receipt/add"
        routerLinkActive="list-item-active"
        class="list-group-item list-group-item-action px-5"
        style="background-color: black;"
      >
        {{ 'warehouse.create-receipt-note' | translate }}
      </a>
      <a
        routerLink="/receipts"
        routerLinkActive="list-item-active"
        class="list-group-item list-group-item-action px-5"
        style="background-color: black;"
      >
        {{ 'warehouse.list-receipt-note' | translate }}
      </a>
    </div>
  </div>

  <!-- supplier manage -->
  <a
    routerLink="/supplier"
    routerLinkActive="list-item-active"
    class="d-flex list-group-item list-group-item-action"
  >
    <mat-icon>work_outline</mat-icon>
    {{ 'supplier.supplier' | translate }}
  </a>

  <!-- order manage -->
  <a
    routerLink="/order"
    routerLinkActive="list-item-active"
    class="d-flex list-group-item list-group-item-action"
  >
    <mat-icon>shop_two</mat-icon>
    <div>{{ 'order.order' | translate }}</div>
  </a>

  <!-- coupons manage -->
  <a
    routerLink="/coupons"
    routerLinkActive="list-item-active"
    class="d-flex list-group-item list-group-item-action"
  >
    <mat-icon>card_giftcard</mat-icon>
    <div>{{ 'order.discount-code' | translate }}</div>
  </a>

  <!-- banner manage -->
  <a
    routerLink="/banner"
    routerLinkActive="list-item-active"
    class="d-flex list-group-item list-group-item-action"
  >
    <mat-icon>image</mat-icon>
    <div>{{ 'banner.banner' | translate }}</div>
  </a>

  <!-- notification manage -->
  <a
    routerLink="/notification"
    routerLinkActive="list-item-active"
    class="d-flex list-group-item list-group-item-action"
  >
    <mat-icon>notifications_none</mat-icon>
    <div>{{ 'notification.message-to-customer' | translate }}</div>
  </a>

  <!-- shop information -->
  <a
    routerLink="/shopInfo"
    routerLinkActive="list-item-active"
    class="d-flex list-group-item list-group-item-action"
  >
    <mat-icon>store</mat-icon>
    <div>{{ 'shop-info' | translate }}</div>
  </a>
</div>
