@import './styles/variables.scss';
html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
@import '~bootstrap-icons/font/bootstrap-icons.css';
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

#root {
  width: 100vw;
  max-width: 100%;
}

* ::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #ffffff;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  /* border-radius   : 50px; */
  background-color: #aaafb6;
}

html,
body {
  height: 100%;
  font-size: 14px;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}
.mat-button-toggle {
  padding: 0px !important;
  border: 0px !important;
  border-radius: 50% !important;
  width: max-content !important;
}
table {
  width: 100%;
}
.mat-column-id {
  width: 50px;
  padding-right: 1rem;
}

.mat-paginator {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.mat-table {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
a {
  text-decoration: none;
}
.mat-header-cell {
  font-weight: bold;
}
.mat-column-createdAt {
  width: max-content;
  padding-right: 1rem;
}
.mat-column-address {
  max-width: 200px;
  padding-right: 1rem;
}
.input-customize {
  padding: 8px 15px;
  border-radius: 5px !important;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-weight: 300;
}
input:focus,
textarea:focus,
select:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #4d0a95;
  outline-width: 0;
  font-weight: 400;
}
