<div class="nav navbar d-block position-relative">
  <p class="fs-4 text-black text-center text-capitalize">
    {{ 'banner.banner-create' | translate }}
  </p>
  <mat-button-toggle
    mat-dialog-close
    class="position-absolute"
    style="right: 0; top: 0;"
  >
    <mat-icon>
      close
    </mat-icon>
  </mat-button-toggle>
</div>
<div class="container-fluid p-0">
  <form
    id="addBannerForm"
    enctype="multipart/form-data"
    (ngSubmit)="onSubmit()"
    #addBannerForm="ngForm"
  >
    <div class="row justify-content-between">
      <div class="form-group row p-0 mb-3">
        <label class="col-3 m-auto col-form-label text-end">
          {{ 'banner.image' | translate }}
        </label>
        <div class="col-9">
          <label
            for="avatar"
            class="d-flex py-2 px-3 w-50 align-items-center form-control input-customize"
            style="background-color: whitesmoke;"
          >
            <span class="px-3">
              {{ 'upload-image' | translate }}
            </span>
            <i class="bi bi-upload"></i>
          </label>
        </div>
        <input
          hidden
          (change)="filechange($event)"
          ngModel
          name="image"
          id="avatar"
          type="file"
          class="form-control input-customize mt-3"
        />
      </div>

      <div class="form-group w-100 col-12 mb-3" [hidden]="!imageSrc">
        <div class="form-control input-customize d-flex">
          <div class="w-100 align-items-center" style="flex: 1;">
            <img
              [src]="imageSrc"
              class="avatar img-circle img-thumbnail"
              style="width: 100px;"
              alt="avatar"
            />
            <span class="mx-3">{{ filename }}</span>
          </div>
          <div class="float-end m-auto mx-1">
            <mat-button-toggle (click)="deleteFile()" class="m-auto">
              <mat-icon>delete</mat-icon>
            </mat-button-toggle>
          </div>
        </div>
      </div>

      <div class="form-group row mb-3 p-0">
        <label class="col-3 m-auto col-form-label text-end">
          {{ 'banner.name' | translate }}
        </label>
        <div class="col-9">
          <input
            ngModel
            #banner="ngModel"
            name="name"
            placeholder="{{ 'placeholder.input-banner' | translate }}"
            type="text"
            required
            class="form-control input-customize"
          />
          <small
            id="nameHid"
            class="form-text text-muted"
            *ngIf="!banner?.valid && (banner?.dirty || banner?.touched)"
          >
            {{ 'notification.invalid-brand' | translate }}
          </small>
        </div>
      </div>

      <div class="form-group row p-0 mb-3">
        <label class="col-3 m-auto col-form-label text-end">
          {{ 'brand.published' | translate }}
        </label>
        <div class="col-9 p-0">
          <input
            [ngModel]="true"
            name="published"
            style="width: 45px; height: 25px;"
            type="checkbox"
          />
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="col-3"></div>
        <div class="col-9 px-1">
          <button
            matRipple
            [matRippleCentered]="true"
            (click)="onSubmit()"
            class="btn btn-primary py-2 w-100"
            cdkFocusInitial
          >
            {{ 'save' | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
